.sidebar {
    position: fixed;
    top: 0px;left:1%;margin:0 auto;/*这句很重要，头部导航固定时，使用position: fixed; 会导致导航的宽度大于容器的宽度，引起位置的偏移*/
    margin-top:20px;
    border: solid 1px #f00;
    width: 17%;
    font-size:15px;
    height:calc(100% - 20px - 40px - 4px);
    text-overflow:ellipsis; white-space: nowrap;
    overflow-x:hidden;
    overflow-y:scroll
}
.sidebar-ol{
    clear:both;
    margin:0;
    padding:0;
    list-style-position:inside;
}

